@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="header-home-index fluid-ratio-resize" style="background-image:url(../../Img/Index/subidorImagenInspiradorBackground.jpg);">
            <div class="header-content-home-index">
                <div class="row">
                    <div class="col-md-8 col-centered header-slogan-home-index">
                        <p>
                            Creer y crear están a sólo una letra de distancia, ¿te atreverás hoy a escribirla?
                        </p>
                        <div class="header-slogan-footer-home-index">
                            <small >Equipo CUBIComic  <cite>-Hazlo Posible-</cite></small>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="row" id="header-button-home-index">
                    <div class="col-md-2 col-centered">
                        @Html.ActionLink("Subir tu creación", "Index", "SubirImagen", routeValues: null, htmlAttributes: new { @class = "btn btn-danger btn-lg", id = "subirArchivoButton" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="header-home-index" style="background-image:url(../../Img/Index/subidorImagenInspiradorBackground.jpg);">
            <div class="header-content-home-index">
                <div class="row">
                    <div class="col-md-8 col-centered header-slogan-home-index">
                        <p>
                            Comienza a ganar dinero <br />
                            con tus creaciones.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-centered">
                        @Html.ActionLink("Crea tu pagina hoy!", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-danger btn-lg", id = "registerLink" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}