<div class="row">
    <div class="col-md-6">
        <h2>Guia para comenzar a Dibujar</h2>
        <p>
            En este apartado te tenemos reunido una guía para que puedas comenzar
            a dibujar con practicos consejos por parte de PaintAcademy con su curso
            online "Manga para principiantes".
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=hPR-eoREElo&list=PL8wCHkGM2bu3PjpbqkPOxIBoEtqTFOBL6">Ver los tutoriales &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Consejos para escritores</h2>
        <p>¿Te cuesta comenzar a escribir? Sigue estos practicos 10 consejos que nos brinda César Mallorquí de grupo Editorial SM para jovenes escritores. </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=ALhYXhT2W6w">Ver los consejos &raquo;</a></p>
    </div>
</div>