<div class="row">
    <div class="col-md-8 col-centered">
        <div class="carousel slide" id="carousel-index">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-index">
                </li>
                <li data-slide-to="1" data-target="#carousel-index">
                </li>
                <li data-slide-to="2" data-target="#carousel-index">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="creando_manga_1" src="../../Img/Index/creando_manga_1.jpg" style="width:1200px;height:350px;" />
                    <div class="carousel-caption">
                        <p>
                            <h4>
                                Emprende tu propio Manga
                            </h4>
                            <h3>
                                Si tienes ganas de empezar tu propio manga empieza publicando con nosotros, podras conseguir seguidores de tu trabajo más aya de tus amigos.
                            </h3>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="escribiendo_1" src="../../Img/Index/escribiendo_1.jpg" style="width:1200px;height:350px;" />
                    <div class="carousel-caption">
                        <p>
                            <h4>
                                Haz tu propia Novela
                            </h4>
                            <h3>
                                Plasma ese mundo que sueñas y visualizas en una historia que logre cautivar a nuestros lectores, motivanos con esas historias de battalas, esas aventuras fantasticas o lo que este en tu mente y quieras escribir.
                            </h3>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="creando_manga_2" src="../../Img/Index/creando_manga_2.jpg" style="width:1200px;height:350px;" />
                    <div class="carousel-caption">
                        <p>
                            <h4>
                                Convierte tu Hobby en Dinero
                            </h4>
                            <h3>
                                Nuestros usuarios podran acceder a contenido pagado de nuestros creadores, para insentivarlos a seguir con sus obras y poder disfrutar de ellas hasta su finalización.
                            </h3>
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-index" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-index" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
