@{
    ViewBag.Title = "Nuestra empresa";
}
<h2>
    ¿Qué es CUBIComic?
</h2>
<p align=“justify”>
    Bienvenidos a Cubicomic. Se encuentra frente al nuevo portal WEB donde su trabajo nos importa; cubicomic es un portal desarrollado con la intención de suministrar ayuda a todos los artistas del ámbito dibujo, comic o mangas, junto a aquellas personas cuya especialidad sea la creación de novelas a que puedan hacerse a conocer y, porque no decirlo, a obtener ayuda o financiamiento mediante donaciones de manera agradable y simple.
</p>
<h2>
    ¿Cómo gano usando CUBIComic?
</h2>
<p align=“justify”>
    Existe una forma muy simple de lograrlo, con solo crear una cuenta, colocando sus datos, podrá ir obteniendo ganancias mediante las donaciones, que sus seguidores gustosamente le darán, para que pueda continuar con su buen trabajo y sentirse aún más motivado a seguir con sus ideas y buenas creaciones.
</p>
<h2>
    Pero, ¿Cómo gana CUBIComic con todo esto?
</h2>
<p align=“justify”>
    Nuestra intención es que usted pueda gozar de sus regalías, y recompensas por su arduo trabajo lo más tranquilamente posible. Es por ello que con fines de seguir dándole el mejor de los servicios, solo nos quedaremos con el 1% de sus ganancias para el mantenimiento de la página WEB.
</p>
<h2>
    Si no recibo donaciones, ¿Me cobraran por estar en la página?
</h2>
<p align=“justify”>
    Solo tenemos una respuesta a esta pregunta, NO. Se le descontara ese 1% solo desde el momento en que usted empiece a recibir donaciones, nunca antes.
</p>
