@{
    ViewBag.Title = "Contacto";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida Brasil 2241, Valparaíso<br />
    Sala de Estar Informática<br />
    <abbr title="Phone">P:</abbr>
    (56) (32) 227 36 36
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sebastian.gonzalez.p@mail.pucv.cl">sebastian.gonzalez.p@mail.pucv.cl</a><br />
    <strong>Support:</strong>   <a href="mailto:roberto.hormazabal.a@mail.pucv.cl">roberto.hormazabal.a@mail.pucv.cl</a><br />
    <strong>Support:</strong>   <a href="mailto:franco.valerio.p@mail.pucv.cl">franco.valerio.p@mail.pucv.cl</a><br />
    <strong>Support:</strong>   <a href="mailto:gonzalo.zeballoz.a@mail.pucv.cl">gonzalo.zeballoz.a@mail.pucv.cl</a><br />
    <br />
    <strong>Marketing:</strong> <a href="mailto:rafael.mellado@pucv.cl">rafael.mellado@pucv.cl</a>
</address>