@{
    ViewBag.Title = "Inicio";
}
@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("../Shared/_SubidorImagenInspiradorCarouselPartial")
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        <!-- imagenes con javascript -->
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("../Shared/_BienvenidaCarouselPartial")
            </div>
        </div>
        <br /><br />
        <!-- Logo empresarial -->
        @*<center>
            <img src="../../Img/Index/logo.png" alt="logo" style="width:531px;height:113px;" />
        </center*@
        <center>
            <img src="../../Img/Index/collague_logo_empresa_1.png" alt="logo" style="width:100%; height:100%;" />
        </center>
        <br /><br />
        <!-- Link a crear pagina -->
        <div id="protector">
            <P ALIGN=center class="lead">Comienza a ganar dinero con tus creaciones </P>
            <p>
                <center>
                    @Html.ActionLink("Crea tu pagina hoy!", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg", id = "registerLink" })
                </center>
            </p>


            <br />
            <br />

            <div class="row">
                <div class="col-md-6">
                    <h2>Guia para comenzar a Dibujar</h2>
                    <p>
                        En este apartado te tenemos reunido una guía para que puedas comenzar
                        a dibujar con practicos consejos por parte de PaintAcademy con su curso
                        online "Manga para principiantes".
                    </p>
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=hPR-eoREElo&list=PL8wCHkGM2bu3PjpbqkPOxIBoEtqTFOBL6">Ver los tutoriales &raquo;</a></p>
                </div>
                <div class="col-md-6">
                    <h2>Consejos para escritores</h2>
                    <p>¿Te cuesta comenzar a escribir? Sigue estos practicos 10 consejos que nos brinda César Mallorquí de grupo Editorial SM para jovenes escritores. </p>
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=ALhYXhT2W6w">Ver los consejos &raquo;</a></p>
                </div>
                @*

                        Agregar uno mas y modificar columnas a 4

                    <div class="col-md-4">
                        <h2>Web Hosting</h2>
                        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                    </div>
                *@

            </div>
        </div>
    </div>
}