@{
    ViewBag.Title = "Inicio";
}

<br />
<!-- Logo empresarial -->
<div class="row" 
	<center>
	    <img src="../../Img/Index/logo.png" alt="logo" style="width:531px;height:113px;"/>
    </center>
</div>

<br />
    <!-- imagenes con javascript -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-index">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-index">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-index">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-index">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="creando_manga_1" src="../../Img/Index/creando_manga_1.jpg" style="width:1200px;height:350px;" />
                        <div class="carousel-caption">
                            <h4>
                                Emprende tu propio Manga
                            </h4>
                            <p>
                                Si tienes ganas de empezar tu propio manga empieza publicando con nosotros, podras conseguir seguidores de tu trabajo más aya de tus amigos.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="escribiendo_1" src="../../Img/Index/escribiendo_1.jpg" style="width:1200px;height:350px;" />
                        <div class="carousel-caption">
                            <h4>
                                Haz tu propia Novela
                            </h4>
                            <p>
                                Plasma ese mundo que sueñas y visualizas en una historia que logre cautivar a nuestros lectores, motivanos con esas historias de battalas, esas aventuras fantasticas o lo que este en tu mente y quieras escribir.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="creando_manga_2" src="../../Img/Index/creando_manga_2.jpg" style="width:1200px;height:350px;" />
                        <div class="carousel-caption">
                            <h4>
                                Convierte tu Hobby en Dinero
                            </h4>
                            <p>
                                Nuestros usuarios podran acceder a contenido pagado de nuestros creadores, para insentivarlos a seguir con sus obras y poder disfrutar de ellas hasta su finalización.
                            </p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-index" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-index" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<br /><br />
    <!-- Link a crear pagina -->
<div class="jumbotron" id="protector"  style="background-image:url(../../Img/Index/collague_logo_empresa_1.png) ">
    <P ALIGN=center class="lead">Comienza a ganar dinero con tus creaciones </P>
    <p>
        <center>
            @Html.ActionLink("Crea tu pagina hoy!", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg", id = "registerLink" })
        </center>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>