<div class="row">
	@foreach (var item3 in ViewBag.listaComicAll)
	{
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a class="thumbnail-mostrarall" href="@Url.Action(
					"Index",
					"LectorComic",
					new{
					busqueda = item3
				},
				null
				)">
				<img src="@Url.Content("/Uploads/"+@item3)" class="img-responsive mostrarall-thumbnail-mostrarall" alt=""  />
                <div class="image-comic">Comic</div>
			</a>
            <br /><br /><br />
		</div>
	}
</div>

    