@{
    var i = 1;
    foreach (var item in ViewBag.listaImagenPartial)
    {
        i = i + 1;
    }
    var total = i - 1;
}

<div class="row">

	@foreach (var item in ViewBag.listaImagenPartial)
	{
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail-mostrarall" href="#">
			    <img src="Uploads/@item" onclick="openModal();currentSlide(@i)" class="img-responsive mostrarall-thumbnail" alt="" />
                <div class="image-imagen">Imagen</div>
            </a>
            <br /><br /><br />
		</div>
	}
</div>

    