
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/VistaPerfiles/Index.cshtml";
}


<table class="table table-striped">
   @foreach (var item in ViewBag.usuarios)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>