@{
    Layout = null;
}


<html>
<head>   @foreach (var pdf in ViewBag.PDF)
                    {
					<iframe src = "UploadsPDF/@pdf" width = "100%" height = "99%"></iframe>
					}
  
</body>
</html>
