
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-8 col-centered"> 
       @foreach (var item in ViewBag.comic)
       {
              
           <img src="UploadsComic/@ViewBag.Ruta/@item" style="width:100%; height:auto;"/>
       }
    </div>
</div>
