body {
	background: #E8EBEB;
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	/*align-items: center;*/
	/*Genera que 'header-button' no muestre bien el botón*/
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%
}

/* Ov-1pxe the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

#custom-search-form {
	margin: 0;
	margin-top: 13px;
	padding: 0;
}

	#custom-search-form .search-query {
		padding-right: 3px;
		padding-right: 4px \9;
		padding-left: 3px;
		padding-left: 4px \9;
		/* IE7-8 doesn't have border-radius, so don't indent the padding */
		margin-bottom: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-transition: width 0.2s ease-in-out;
		-moz-transition: width 0.2s ease-in-out;
		-o-transition: width 0.2s ease-in-out;
		transition: width 0.2s ease-in-out;
	}

	#custom-search-form button {
		border: 0;
		background: none;
		/** belows styles are working good */
		padding: 2px 5px;
		margin-top: 2px;
		position: relative;
		left: -28px;
		/* IE7-8 doesn't have border-radius, so don't indent the padding */
		margin-bottom: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

.search-query:focus + button {
	z-index: 3;
}

.search-query:focus {
	width: 260px;
}

/* CUSTOM */

.btn.cubicomic-button.button-with-icon-box {
	position: relative;
	overflow: hidden;
	padding: 0 0 0 40px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form.group.form-avatar {
	margin-right: -5px;
	margin-left: -20px;

}

.btn.cubicomic-button.button-size-fluid {
	width: 100%;
}

.btn.cubicomic-button.button-login-facebook {
	background: #26599a;
}

.cubicomic-button, a.cubicomic-button {
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	background: #586A72;
	color: #FFF;
	border: 0;
	font-size: 14px;
	padding: 0 20px;
	line-height: 39px;
	height: 40px;
	border-radius: 3px;
	text-decoration: none;
	font-weight: 700;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	zoom: 1;
	filter: alpha(opacity=100);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition-property: opacity,background;
	-moz-transition-property: opacity,background;
	-o-transition-property: opacity,background;
	transition-property: opacity,background;
}

/* /Shared/_Layout */
.nav-logo {
	width: 100%;
	height: 170%;
	position: relative;
	top: -12px;
}

/* /Home/Index */

.header-home-index {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	height: 28vw;
	min-height: 14rem;
	width: 100%;
	position: relative;
}

.header-content-home-index{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	/*align-items: center;*/
	/*Genera que 'header-button' no muestre bien el botón*/
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%
}

@media (min-width: 1366px) {
    .header-slogan-home-index p {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 20px rgb(0, 0, 0);
        font-size: 40px;
        font-weight: 900;
    }

    .header-slogan-footer-home-index small {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 4px rgba(0,0,0,.5);
    }

    .header-slogan-button-home-index- {
        color: #fff;
        border: 1px solid #e6461a;
        background-color: #e6461a;
        -webkit-transition: all .2s cubic-bezier(.19,1,.22,1) !important;
        transition: all .2s cubic-bezier(.19,1,.22,1) !important;
    }
}

@media (max-width: 1365px) {
    .header-slogan-home-index p {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 20px rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 900;
    }

    .header-slogan-footer-home-index small {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 4px rgba(0,0,0,.5);
    }

    .header-slogan-button-home-index- {
        color: #fff;
        border: 1px solid #e6461a;
        background-color: #e6461a;
        -webkit-transition: all .2s cubic-bezier(.19,1,.22,1) !important;
        transition: all .2s cubic-bezier(.19,1,.22,1) !important;
    }
}

@media (max-width: 767px) {
    .header-slogan-home-index p {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 20px rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 900;
    }

    .header-slogan-footer-home-index small {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 4px rgba(0,0,0,.5);
    }

    .header-slogan-button-home-index- {
        color: #fff;
        border: 1px solid #e6461a;
        background-color: #e6461a;
        -webkit-transition: all .2s cubic-bezier(.19,1,.22,1) !important;
        transition: all .2s cubic-bezier(.19,1,.22,1) !important;
    }
}

.col-centered{
	float: none;
	margin: 0 auto;
	text-align: center;
}

.creadoresDestacados-home-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    min-height: 18rem;
}

@media (min-width: 768px) {
	.creadoresDestacados-titulo-home-index {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }

    .consejos-titulo-home-index {
        font-size: 25px;
        font-weight: 700;
    }

    .consejos-userpic img {
        float: none;
        margin: 0 auto;
        width: 100px;
        min-width: 100px;
        height: auto;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .creator-box {
        min-width: 285px;
        width: 24vw;
        padding: 10px;
        padding-left: 20px;
    }

    .creadoresDestacados-titulo-home-index {
	    text-align: center;
	    font-size: 25px;
	    font-weight: 700;
    }

    .consejos-titulo-home-index {
	    font-size: 25px;
	    font-weight: 700;
    }
}

@media (max-width: 767px) {
    .creadoresDestacados-titulo-home-index {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

    .consejos-titulo-home-index {
        font-size: 20px;
        font-weight: 700;
    }

    .consejos-userpic img {
        float: none;
        margin: 0 auto;
        width: 100px;
        min-width: 100px;
        height: auto;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .creator-box {
        min-width: 140px;
        width: 24vw;
        padding: 10px;
        padding-left: 20px;
    }

    .creadoresDestacados-titulo-home-index {
	    text-align: center;
	    font-size: 25px;
	    font-weight: 700;
    }

    .consejos-titulo-home-index {
	    font-size: 25px;
	    font-weight: 700;
    }
}

/* /Views/SubirImagen/Index */

.formulario-subirimagen {
	width: 450px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 60px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* /Views/Account/Register */

.formulario-registro {
	width: 300px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 60px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.formulario-registro-facebook {
	width: 300px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 60px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.formulario-registro .btn{
	position:relative;
	left : -20px;
}

/* /Views/Account/Login */

.formulario-login {
	width: 300px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 60px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.formulario-login #botonEnviarFormularioIniciarSesion {
	position:relative;
	left : -30px;
}

/* /Shared/_SubidorImagenInspiradorCarouselPartial */
p.subidorimageninspirador-carousel-caption {
	text-align: center;
	color: #fff;
	text-shadow: 0 0 20px rgb(0, 0, 0);
	font-size: 40px;
	font-weight: 900;
}

.img-responsive, .thumbnail > img,
 .thumbnail a > img,
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
	width: 100%;
	height: 300px;
}

img.img-responsive.mostrarall-thumbnail {
	max-width:100%;
	max-height:320px;
	width: auto;
	height: auto;
	float: none;
	margin: 0 auto;
	text-align: center;
}

img.img-responsive.img-responsive-galeria-header {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: 100%;
}

.thumbnail-galeria {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 500px;
}

.thumbnail-mostrarall {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: rgba(0,0,0,.8);
	border: 1px solid rgba(0,0,0,.8);
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.carousel.slide.custom {
	width: 100%;
	height: 300px;
}

.fixed-ratio-resize { /* basic responsive img */
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

/* /Account/Register*/

.register-form {
	text-align: center;
}

/* MostrarAll/Index */
.viewbag-muestrapdf-mostrarall-index {
	width: 300px;
	height: 300px;
	display: block;
}