
@{
    ViewBag.Title = "_donacion";
}

@{
    ViewBag.Title = "_donacion";
}

Si deseas recibir donaciones por tu trabajo, introduce tu correo de paypal para que recibas donaciones por tu trabajo

@using (Html.BeginForm("SetCuentaDonacion", "Miembros"))
{
<form method="post">
  Escribe tu corre de paypal:
  <input type="text" name="email" value="" />
 
  <br/>
 
  <input type="submit" value="Enviar" />
</form>
}
