<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="carousel slide" id="carousel-900465">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-900465">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-900465" class="active">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-900465">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="piensa" src="../../Img/Index/idea_2.jpg" style="width:720px;height:200px;" />
                        <div class="carousel-caption">
                            <h4>
                                PIENSA
                            </h4>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="diseñando" src="../../Img/Index/diseñando.jpg" style="width:720px;height:200px;" />
                        <div class="carousel-caption">
                            <h4>
                                ATREVETE
                            </h4>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="pintando" src="../../Img/Index/pintando.jpg" style="width:720px;height:200px;" />
                        <div class="carousel-caption">
                            <h4>
                                INTENTALO
                            </h4>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-900465" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-900465" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <blockquote>
                <p>
                    "CREER" Y "CREAR" ESTÁN A SOLO UNA LETRA DE DISTANCIA, ¿TE ATREVERAS HOY A ESCRIBIRLA?
                </p> <small>Equipo CUBIComic  <cite>-Hazlo Posible-</cite></small>
            </blockquote>
        </div>
        <div class="col-md-4">
            <h3 class="text-center text-danger">
                CUBIComic
            </h3>
            <center>
            <img alt="mini_logo" src="../../Img/Index/mini_logo.png" />
            </center>
            <br />
            <br />
            <button type="button" class="btn btn-danger btn-sm btn-block">
                Subir Archivo
            </button>
        </div>
    </div>
</div>