
@{
    ViewBag.Title = "_PDF";
}

@using (Html.BeginForm("subirPDF", "SubirImagen", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Subir Portada del PDF</h2>
    <input type="file" name="file" accept=".JPG,.PNG" /> 
    <br />
    <h2>Subir el PDF</h2>
    <input type="file" name="file" accept=".PDF" /> 
    <br />
    <button type="submit">Subir archivo</button>
}
