
@{
    ViewBag.Title = "_PDF";
}
Escribe un titulo para la novela:
@using (Html.BeginForm("subirPDF", "SubirImagen", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        
      <input type="text" name="nombre" value="" />
     <select name="categoria" class="form-control">
        <option value="-.accion.-">Acción</option>
        <option value="-.comedia.-">Comedia</option>
        <option value="-.terror.-">Terror</option>
        <option value="-.historia.-">Historias de vidas</option>
        <option value="-.sobrenatural.-">Sobre natural</option>
    </select>
    <h2>Subir Portada del PDF</h2>
    <input type="file" name="file" accept=".JPG,.PNG" /> 
    <br />
    <h2>Subir el PDF</h2>
    <input type="file" name="file" accept=".PDF" /> 
    <br />
    <button type="submit">Subir archivo</button>
}
